@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Kumbh+Sans:wght@700&family=Libre+Baskerville&family=Nunito+Sans:ital,opsz,wght@0,6..12,900;0,6..12,1000;1,6..12,900&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-primary: #6f6af8;
  --color-white: #fff;
  --color-red: rgb(255, 63, 63);
  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);
  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);
  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;
  /*-------------- DARK MODE -------------*/
  --color-dark-primary: #020617;
  --color-dark-nav: #cbd5e1;
  --color--dark-border: #182233;
  --color--dark-border2: #4c5474;

  --color-bg: hwb(240 95% 0%);

  --transition: all 0.25s ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: var(--color-bg); */
  background-color: var(--color-dark-primary);

  font-size: 1rem;
  line-height: 1.6;
  /* color: var(--color-gray-700); */
  color: var(--color-dark-nav);
}
a {
  /* color: var(--color-gray-700); */
  color: var(--color-dark-nav);
  text-decoration: none;
}

a:active {
  color: #2563eb;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: var(--color-gray-900); */
  /* color: #fff; */
  color: #f4f6f8;

  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}
h5 {
  line-height: 1.4;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 6rem;
}

.mernblog {
  letter-spacing: 0.2px;
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-dark-primary);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-white);
  border: 0.5px solid var(--color--dark-border);
}

.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn.category {
  background-color: var(--color-dark-primary);
  font-size: 0.75rem;
  font-weight: 400;
  border: 1px solid var(--color--dark-border);
}
.btn.category:hover {
  border-color: #4c5474;
}
.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}
.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}

/* ---------------NAVBAR--------------*/
nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid var(--color--dark-border);
  backdrop-filter: blur(20px);
}
.W {
  color: #2563eb;
  font-weight: 900;
  font-size: 35px;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav__logo {
  align-items: center;
  width: 3rem;
  display: inline;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}
/* .nav__menu li {
  display: inline;
  margin-left: 20px;
} */
.anchor {
  /* position: relative; */
  font-size: 14px;
  letter-spacing: 0.2px;
  padding: 5px 16px;
  border-radius: var(--radius-3);
  transition: var(--transition);
  border: 1px solid transparent;
}

.anchor:hover {
  border-color: var(--color--dark-border2); /* Border color on hover */
}
.active {
  font-size: 15px;
  padding: 5px 16px;
  border-radius: var(--radius-3);
  transition: var(--transition);
  border: 1px solid var(--color--dark-border2);
}

/* .nav__menu li ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: linear-gradient(
    to right,
    var(--color--dark-border2),
    var(--color--dark-border2)
  );
  transition: width 0.3s ease;
}

.nav__menu li :hover::after {
  width: 100%;
} */

.nav__toggle-btn {
  display: none;
}

/* -----------------------FOOTER----------------------*/
footer {
  /* background: var(--color-gray-900); */
  background: #090f20;
  margin-top: 6rem;
  padding-top: 6rem;
}
.footer__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.footer__categories a {
  background: var(--color-dark-primary);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
  border: 1px solid var(--color--dark-border);
}

.footer__categories a:hover {
  border-color: #948f8f;
}

.footer__copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}
.error-page h2 {
  margin-top: 3rem;
}
/*----------------------- FEATURED -------------------*/

.featured_icon {
  color: rgb(246, 255, 0);
  margin-right: 8px;
}
.featured__post {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(3, auto); /* 3 rows with height based on content */
  grid-template-columns: auto 32%;
  align-items: center;
  border-radius: var(--radius-4);
  border: 1px solid var(--color--dark-border);
  padding: 2.8rem;
  transition: var(--transition);
}
.featured__post:hover {
  border-color: var(--color--dark-border2);
}

.image_box {
  width: 390px;
  height: 270px;
  grid-column: 2 / span 2;
  grid-row: 1 / span 4;
  justify-items: center;
  margin-left: 2.6rem;
}
.image_box img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-3);
}

.image-placeholder {
  width: 390px;
  height: 270px;
  background-color: #0c122c; /* Lighter placeholder background color */
  border-radius: var(--radius-3);
}
.featured_title {
  margin-bottom: 15px;
}

.featured__description {
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  color: #94a3b8;
  margin-bottom: 15px;
}

.featured__label {
  display: inline;
  padding: 5px 13px;
  letter-spacing: 1px;
  background-color: #08112e;
  color: #3678e4;
  border-radius: var(--radius-4);
}
.star {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .featured__description {
    display: none; /* Hide the component */
  }
  .featured__post {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .image_box {
    width: auto;
    height: auto;
    grid-column: auto;
    grid-row: auto;
    margin-left: 0;
    margin: 16px 0;
  }
  .featured_title {
    font-size: 30px;
  }
}

/*----------------------- HOME -------------------*/

.posts__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 2.3rem;
}

.post {
  /* background: var(--color-white); */
  background-color: var(--color-dark-primary);
  padding: 1rem 1rem 1.4rem 1rem;
  border-radius: var(--radius-4);

  transition: var(--transition);
  cursor: default;
  border: 0.09rem solid var(--color--dark-border);
  /* cursor: pointer; */
}

.post:hover {
  box-shadow: 0.02rem 0.03rem 0.5rem var(--color--dark-border);
  border-color: #434a68;
  /* cursor: pointer; */
}
.post__thumbnail img {
  border-radius: var(--radius-3);
  aspect-ratio: 2/1.5;
  overflow: hidden;
}
.post__content {
  margin-top: 1.5rem;
}

.post__content h3 {
  margin: 1rem 0 0.6rem;
  font-size: 21px;
  font-weight: 500;
}
.post:hover h3.multiline {
  cursor: pointer;
}
.post__content p {
  font-size: 15px;
}

.post__footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.post__author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.post__author-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--radius-2);
  overflow: hidden;
}
@media (max-width: 800px) {
  .post {
    padding: 1.4rem 1.4rem 2rem 1.4rem;
  }
}
/*---------------- POST DETAILS --------------------*/
.post-detail__container {
  width: 85%;
  background-color: var(--color-dark-primary);
  margin-top: 4rem;
  padding: 2rem;
  /* border: 2px solid var(--color--dark-border); */
}

.post-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.post-detail__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post_Detail_title {
  color: #f9f9f9;
  font-size: 45px;
}
.post-detail__thumbnail {
  margin-top: 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  height: fit-content;
  overflow: hidden;
  border-radius: 4px;
}

.post-description {
  font-size: 19px;
  line-height: 1.6;
  color: #f9f9f9;
  font-weight: 400;
  letter-spacing: 0.7px;
  margin-bottom: 4rem;
}

.Post_details_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 410px;
  margin: auto;
  background-color: #0f172a;
  border: 1px solid var(--color--dark-border2);
  border-radius: var(--radius-4);
}
.like_icon,
.bookmark_icon {
  border-right: 1px solid #e3f1ff;
  padding: 0px 25px;
}
.likes_count {
  display: inline;
  font-size: 18px;

  font-weight: 300;
  padding-left: 10px;
}
.report_icon {
  padding: 0px 25px;
}

@media screen and (max-width: 650px) {
  .Post_details_footer {
    padding: 7px;
    width: 300px;
  }
}

/*----------- REGISTER & FORM INPUT--------------- */
.create-post {
  min-height: 750px;
}
/* .custom-editor {
  height: 7rem;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
select,
textarea {
  /* width: 80%; */
  background-color: #090f20;
  color: var(--color-white);
  letter-spacing: 0.6px;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);

  resize: none;
  border: 1px solid var();
  border: 1px solid var(--color--dark-border);
  transition: var(--transition);
}

input:focus {
  border: 1px solid var(--color--dark-border2);
}
textarea:focus {
  border: 1px solid var(--color--dark-border2);
}

.form__error-message {
  background: var(--color-red);
  color: var(--color-white);
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  display: block;
  margin-bottom: 1rem;
}

.register,
.login,
.create-post {
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.register h2,
.login h2,
.create-post h2 {
  margin-bottom: 2rem;
}

.register small,
.login small {
  display: block;
  margin-top: 1.5rem;
}

.register small a,
.login small a {
  color: var(--color-primary);
}

.login_admin {
  padding: 7px 10px;
  background-color: #2563eb;
  border: 1px solid var(--color--dark-border2);
  border-radius: var(--radius-2);
  color: white;
  cursor: pointer;
  transition: var(--transition);
}
.login_admin:active {
  color: #020617;
  border-color: var(--color--dark-border);
}

/* /////////////////////////////////////////////////// */
/* //------------------- USER post ---------------------- */

.user_post_container {
  width: 85%;
  max-width: 900px;
  margin: 8rem auto 4rem auto;
}
.user_posts__container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.user_info {
  display: grid;
  grid-template-columns: 22% auto 22%;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  margin-bottom: 4rem;
  /* width: 900px; */
  border: 1px solid var(--color--dark-border);
}
.user_info h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.count {
  margin-right: 8px;
}
.user_info p {
  display: inline;

  font-weight: 400;
  color: #f8fafc;
}
.user_info img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid var(--color--dark-border2);
}
.user_info button {
  padding: 8px 24px;
  background-color: #2563eb;
  color: #f8fafc;
  font-size: 16px;
  border-radius: var(--radius-4);
  cursor: pointer;
}
.follow_button:hover {
  cursor: pointer;
  background-color: #252542;
}
.follow_button:active {
  color: #2563eb;
}

@media screen and (max-width: 900px) {
  .user_posts__container2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .user_info h2 {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .user_info p {
    font-weight: 400;
  }
  .user_info img {
    width: 110px;
    height: 110px;
  }
  .user_info button {
    padding: 7px 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  .user_info {
    grid-template-columns: repeat(1, 1fr);
    padding: 2.5rem;
    margin-bottom: 3rem;
    border: 1px solid var(--color--dark-border);
  }
  .user_posts__container2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .user_info h2 {
    margin: 15px 0 2px 0;

    font-size: 30px;
  }

  .user_info p {
    font-weight: 400;
  }
  .user_info img {
    width: 110px;
    height: 110px;
  }
  .user_info button {
    padding: 7px 20px;
    font-size: 14px;
    margin-top: 20px;
  }
}
/*------------------------------- AUTHOR ------------------*/

.authors__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 8rem;
}
.author {
  /* background: var(--color-white); */
  padding: 1rem;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
}
.author:hover {
  border-color: var(--color--dark-border2);
}
.author__avatar img {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* border: 0.3rem solid var(--color-bg); */
  overflow: hidden;
}
.author__info p {
  margin-top: 1rem;
}

/*---------------- USER PROFILE ---------------------------*/
.profile_details_container {
  display: grid;
  place-items: center;
  text-align: center;
}
.profile_details_container p {
  display: inline;
  margin-top: 3rem;
}
.my__post:hover {
  border-color: var(--color--dark-border);
}

.avatar__wrapper {
  width: 15rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-top: 1rem;
}
.profile__avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color--dark-border);
  overflow: hidden;
}
.avatar__form {
  height: 1rem;
}
.avatar__form input {
  visibility: hidden;
}

.avatar__form label,
.profile__avatar-btn {
  color: var(--color-white);
  font-size: 1.3rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.profile__avatar-btn {
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  background: #2563eb;
}
.edit_lable {
  color: #629beb;
  margin: 1rem;
}
.profile_name {
  margin: 0.7rem 0 0.5rem 0;
}
.count {
  margin-left: 1rem;
  color: rgb(255, 255, 255);
}
.bookmark_box {
  margin-top: 2rem;
}
.bookmark_link {
  padding: 7px 10px;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color--dark-border);
  border-radius: var(--radius-2);
  margin-left: 10px;
  transform: var(--transition);
}
.bookmark_link:hover {
  border: 1px solid var(--color--dark-border2);
}
.form.profile__form {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}
/*-------------- DASHBOARD ---------------*/
.dashboard-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.dashboard__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #090f20;
  padding: 0.7rem 1rem;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border);
  transition: var(--transition);
}
.dashboard__post:hover {
  border-color: var(--color--dark-border2);
}
.dashboard__post-info {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
.dashboard__post-thumbnail {
  width: 4rem;
  height: 2.5rem;
  border-radius: var(--radius-1);
  overflow: hidden;
}
.dashboard__post-actions {
  display: flex;
  gap: 1rem;
}

.dashboard_title {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .dashboard__post {
    flex-direction: column;
  }
}
/* ================ LOADER ================== */
/* .loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
} */

.loader__image {
  width: 4.5rem;
  /* aspect-ratio: 1/1; */
}

/* ================ CATEGORY ================== */

.category_container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--color--dark-border); */
  padding: 18px;
  border-radius: var(--radius-4);
  margin-top: 7rem;
  border: 1px solid var(--color--dark-border);
}
.category_label {
  font-size: 26px;
  letter-spacing: 0.8px;
}

/* ----------------- RESPONSIVE DESIGN ----------------------- */

@media (max-width: 576px) {
  .post_Detail_title {
    /* font-size: 34px; */
  }
  .post-description {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.6px;
  }
}
@media screen and (max-width: 800px) {
  .bookmark {
    width: 400px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.35rem;
  }

  .container {
    width: var(--container-width-md);
  }

  /* NAVBAR  */
  .nav__container {
    position: relative;
  }
  .nav__menu {
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    grid-gap: 0rem;
  }
  .nav__menu li {
    width: 100%;
    border-radius: 0;
    animation: dropDown 500ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }

  @keyframes dropDown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  .nav__menu li a {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: block;
    border-radius: 0;
    padding: 0.85rem;
    background-color: var(--color--dark-border);
  }

  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-dark-nav);
  }
  .posts__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .footer__categories {
    flex-direction: column;
  }
  .post-detail__container {
    width: 100%;
    background: transparent;
    padding: 0rem;
    border: none;
    margin-top: 7rem;
  }
  .register,
  .login,
  .create-post {
    width: 100%;
  }
  .form.profile__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  .authors__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
  .dashboard__post-info {
    gap: 1.5rem;
  }
  .dashboard__post-thumbnail {
    width: 5rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 950px) {
  .posts__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__categories {
    flex-direction: column;
  }
  .authors__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.7rem;
  }
  .post-detail__container {
    width: 90%;
    background: transparent;
    padding: 0rem;
    border: none;
  }
}
@media screen and (min-width: 950px) and (max-width: 1344px) {
  .posts__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__categories {
    flex-direction: column;
  }
  .authors__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
/* Header.css */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////---------- ADMIN DASHBOARD ------------------------------//////// */

.admin_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

/* .admin_navbar li {
  padding: 5px 18px;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border2);
} */

/* /////////////////////////////////////// */
/* /////----------- Dashboard Home ----------/ */
.Box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8rem;
  row-gap: 2rem;
  column-gap: 3rem;
}
.dashboard_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
  border: 1px solid var(--color--dark-border);
  border-radius: var(--radius-2);
  transform: var(--transition);
}

.dashboard_box h3 {
  color: #cbbbff;
  font-weight: 400;
  margin-top: 5px;
}
.dash_featured_tag {
  margin-top: 40px;
}
.home_featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  margin-top: 20px;
  border: 1px solid var(--color--dark-border);
  transform: var(--transition);
  border-radius: var(--radius-4);
}
.home_featured:hover {
  border-color: var(--color--dark-border2);
}

.home_featured img {
  width: 170px;
  border-radius: var(--radius-3);
}

/* ////////////////////////////////////////////////////////// */
/* ///----------------- REPORT ----------------------- */
.report {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 10px;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border);
}
.report_user {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border);
}

.report_user img {
  margin-bottom: 10px;
  width: 50px;
  border-radius: 50%;
}
.report_post {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  padding: 20px 30px;
  border-radius: var(--radius-3);
  border: 1px solid var(--color--dark-border);
}
.report_post img {
  width: 110px;
  border-radius: var(--radius-2);
}

.admin_Posts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid var(--color--dark-border);
  margin-bottom: 20px;
}
.admin_Posts img {
  width: 110px;
  height: 60px;
  border-radius: 10px;
}
.btn_1 {
  padding: 7px 9px;
  background-color: var(--color--dark-border2);
  color: white;
  border: 1px solid var(--color--dark-border);
  border-radius: var(--radius-2);
  margin-right: 30px;
}

.btn_2 {
  padding: 7px 9px;
  background-color: rgb(30, 111, 173);
  color: white;
  border: 1px solid var(--color--dark-border);
  border-radius: var(--radius-2);
  margin-right: 30px;
}
/* // */
/* Global styles */
